ion-content{
  background: linear-gradient(to bottom, #c6ffdd, #fbd786, #f7797d);
}

h2{
  color: #e026a8;
  text-align: center;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}